name: Build
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2022
    steps:
    - name: Checkout current build target
      uses: actions/checkout@v2
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2
    - name: Build with MSBuild
      run: msbuild  '.\RS_ASIO.sln'
